/* *{
    background-color: aquamarine;
} */
h1{
    color: brown;
}
img{
    width: 100px;
}
.facebook{
    color:chocolate;
}
 .linkedin{
    color: aliceblue;
 }
 /* this is where my list starts */
 .fruits{
    background-color: darkgreen;
 }